<h1>Список моделей</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Модель</td>
            <td>Производитель</td>
            <td>ИД</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let d of departments">
            
                <td>{{d.fullName}}</td>
                <td>{{d.shortName}}</td>
                <td>{{d.id}}</td>
                <td>
                    <span *ngFor="let e of d.employees">
                        {{e.fio}} - {{e.position.name}}; 
                    </span>
                </td>
        </tr>
    </tbody>
</table>